@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
}

body {
    background-image: url(https://i.pinimg.com/1200x/0f/70/7c/0f707c77bb856366b24b1404399e589a.jpg);
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 100vh;
}

nav {
    padding: 8px;
    height: 80px;
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;
    background-color: rgba(255, 247, 247, 0);
    border: 2px solid rgba(255, 247, 247, 0);
    backdrop-filter: blur(8px);
    border-radius: 7px;

}

span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 70px;
}

span img {
    width: 170px;
    height: 70px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 180px;
    height: 70px;
}

.buttons a {
    text-decoration: none;
    color: white;
}

.buttons button {
    width: 170px;
    height: 30px;
    background-color: rgba(255, 247, 247, 0.02);
    border: 2px solid rgba(255, 247, 247, 0.02);
    backdrop-filter: blur(20px);
    border-radius: 13px;
    color: white;
    font-weight: 500;
    transition: 0.5s;

}

button:hover {
    background-color: rgba(255, 247, 247, 0.144);
    border: 2px solid rgba(255, 247, 247, 0.144);
    backdrop-filter: blur(20px);
    color: white;

}

main {
    margin-left: 15px;
    height: 75vh;
    width: 50vw;
    background-color: rgba(255, 247, 247, 0);
    border: 2px solid rgba(255, 247, 247, 0);
    backdrop-filter: blur(8px);
    border-radius: 20px;

}

main h1 {
    font-family: "SN Pro", sans-serif;
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 60px;
    font-weight: 600;
}

main h2 {
    font-family: "SN Pro", sans-serif;
    color: white;
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 600;
}

main p {
    font-family: "SN Pro", sans-serif;
    color: white;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 24px;
    font-weight: 400;
}

@media screen and (max-width:1300px) {
    body {
        background-image: url(https://i.pinimg.com/1200x/0f/70/7c/0f707c77bb856366b24b1404399e589a.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 99vh;
    }

    nav {
        padding: 8px;
        height: 55px;
        width: 85%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px auto;
        background-color: rgba(255, 247, 247, 0);
        border: 2px solid rgba(255, 247, 247, 0);
        backdrop-filter: blur(8px);
        border-radius: 15px;

    }

    span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 50px;
    }

    span img {
        width: 100px;
        height: 50px;
    }

    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 120px;
        height: 50px;
    }

    .buttons a {
        text-decoration: none;
        color: white;
        font-size: 9px;
    }

    .buttons button {
        width: 150px;
        height: 30px;
        background-color: rgba(255, 247, 247, 0.02);
        border: 2px solid rgba(255, 247, 247, 0.02);
        backdrop-filter: blur(20px);
        border-radius: 13px;
        color: white;
        font-weight: 600;
        transition: 0.5s;

    }

    button:hover {
        background-color: rgba(255, 247, 247, 0.144);
        border: 2px solid rgba(255, 247, 247, 0.144);
        backdrop-filter: blur(20px);
        color: white;

    }

    main {
        margin-left: 15px;
        height: calc(43vh - 55px);
        width: 80vw;
        background-color: rgba(10, 25, 60, 0.274);
        backdrop-filter: blur(20px);
        border-radius: 15px;
    }

    main h1 {
        font-family: "SN Pro", sans-serif;
        color: white;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 10px;
        font-size: 40px;
        font-weight: 600;
    }

    main h2 {
        font-family: "SN Pro", sans-serif;
        color: white;
        margin-left: 10px;
        margin-bottom: 0px;
        font-size: 35px;
        font-weight: 600;
    }

    main p {
        font-family: "SN Pro", sans-serif;
        color: white;
        margin-top: 9px;
        margin-left: 10px;
        font-size: 11px;
        font-weight: 400;
    }
}