@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
}

body {
    background-image: url(https://i.pinimg.com/1200x/0f/70/7c/0f707c77bb856366b24b1404399e589a.jpg);
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 100vh;
}

nav {
    padding: 8px;
    height: 80px;
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;
    background-color: rgba(255, 247, 247, 0);
    border: 2px solid rgba(255, 247, 247, 0);
    backdrop-filter: blur(8px);
    border-radius: 7px;

}

span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 70px;
}

span img {
    width: 170px;
    height: 70px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 180px;
    height: 70px;
}

.buttons a {
    text-decoration: none;
    color: white;
}

.buttons button {
    width: 170px;
    height: 30px;
    background-color: rgba(255, 247, 247, 0.02);
    border: 2px solid rgba(255, 247, 247, 0.02);
    backdrop-filter: blur(20px);
    border-radius: 13px;
    color: white;
    font-weight: 500;
    transition: 0.5s;

}

button:hover {
    background-color: rgba(255, 247, 247, 0.144);
    border: 2px solid rgba(255, 247, 247, 0.144);
    backdrop-filter: blur(20px);
    color: white;

}

section {
    display: flex;
    justify-content: right;
    margin-right: 20px;
    margin-top: 15px;
}

.profile {
    position: absolute;
    height: calc(90vh - 80px);
    width: 50vw;
    background-color: rgba(10, 25, 60, 0.274);
    backdrop-filter: blur(20px);
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 190px;
    height: 100%;
    width: 500px;
    color: white;
}

.text :first-child {
    font-family: "Poppins", sans-serif;
    font-size: 80px;
    font-weight: 400;

}

.text :nth-child(2) {
    font-family: "Poppins", sans-serif;
    font-size: 50px;
}

.text :nth-child(3) {
    font-family: "SN Pro", sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.profile button {
    margin-bottom: 15px;
    width: 170px;
    height: 50px;
    background-color: rgba(255, 247, 247, 0.322);
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    font-weight: 500;
    transition: .5S;
}

.profile button b a {
    font-family: "Poppins", sans-serif;
    color: white;
    text-decoration: none;
}

section img {
    position: relative;
    top: 70px;
    left: -517px;
    height: 350px;
    width: 350px;
    border-radius: 100%;
}

.profile button:hover {
    color: white;
    background-color: rgb(42, 42, 173);
}

@media screen and (max-width:1300px) {
    body {
        background-image: url(https://i.pinimg.com/1200x/0f/70/7c/0f707c77bb856366b24b1404399e589a.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 99vh;
    }

    nav {
        padding: 8px;
        height: 55px;
        width: 85%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px auto;
        background-color: rgba(255, 247, 247, 0);
        border: 2px solid rgba(255, 247, 247, 0);
        backdrop-filter: blur(8px);
        border-radius: 15px;

    }

    span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 50px;
    }

    span img {
        width: 100px;
        height: 50px;
    }

    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 120px;
        height: 50px;
    }

    .buttons a {
        text-decoration: none;
        color: white;
        font-size: 9px;
    }

    .buttons button {
        width: 150px;
        height: 30px;
        background-color: rgba(255, 247, 247, 0.02);
        border: 2px solid rgba(255, 247, 247, 0.02);
        backdrop-filter: blur(20px);
        border-radius: 13px;
        color: white;
        font-weight: 600;
        transition: 0.5s;

    }

    button:hover {
        background-color: rgba(255, 247, 247, 0.144);
        border: 2px solid rgba(255, 247, 247, 0.144);
        backdrop-filter: blur(20px);
        color: white;

    }

    section {
        display: flex;
        justify-content: right;
        margin-right: 20px;
        margin-top: 100px;
    }

    .profile {
        position: absolute;
        height: calc(45vh - 55px);
        width: 90vw;
        background-color: rgba(10, 25, 60, 0.274);
        backdrop-filter: blur(20px);
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text {
        display: flex;
        flex-direction: column;
        margin: 0;
        margin-left: 20px;
        padding: 0;
        width: 90vw;
        color: white;
    }

    .text :first-child {
        font-family: "Poppins", sans-serif;
        font-size: 36px;
        font-weight: 400;

    }

    .text :nth-child(2) {
        font-family: "Poppins", sans-serif;
        font-size: 16px;
    }

    .text :nth-child(3) {
        font-family: "SN Pro", sans-serif;
        font-size: 15px;
        font-weight: 500;
    }

    .profile button {
        margin-bottom: 15px;
        width: 100px;
        height: 70px;
        background-color: rgba(255, 247, 247, 0.322);
        border: 1px solid white;
        border-radius: 4px;
        color: white;
        font-weight: 500;
        transition: .5S;
    }

    .profile button b a {
        font-family: "Poppins", sans-serif;
        color: white;
        text-decoration: none;
    }

    section img {
        position: relative;
        top: -55px;
        left: -117px;
        height: 100px;
        width: 100px;
        border-radius: 100%;
    }


}