@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    margin: 0px;

}

span {
    width: 350px;
}
.ab{
    background-color: white;
    position: sticky;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    height: 100px;
    width: 1350px;
}
header {
    display: flex;
    justify-content: center;
    align-content: center;
    position: sticky;
    top: 15px;
    margin-top: 10px;
}

nav {
    border: 1px solid #cecece;
    border-radius: 4px;
    height: 80px;
    width: 1320px;
    background-color: #f6f6f6;
    display: flex;
}

nav ul {
    /* color: black; */
    list-style-type: none;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

nav ul li {
    /* text-decoration: none; */
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin: 10px;
    padding: 10px;

}

main a {
    color: black;
    background-color: #ffd741;
    border-radius: 4px;
    margin-top: 15px;
    margin-left: 190px;
    padding: 10px 30px;
    text-decoration-line: none;
    display: flex;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

}

.engbut a {
    color: black;
    text-decoration: none;
    margin-top: 15px;
    padding: 10px 30px;
    display: inline-block;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

.main {
    margin-top: 120px;
    margin-bottom: 30px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.main h1 {
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 48px;
    color: #1d1d1d;
}

.main h1 img {
    align-items: center;
    margin-left: 12px;
}

.middle {
    display: flex;
    justify-content: center;
}

.middle h3 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    color: #333333a3;
    width: 550px;

}

.download {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

.bigbut {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background-color: #ffd741;
    height: 50px;
    width: 400px;
    /* color: black; */
}

.bigbut a {

    color: black;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}

.part {
    display: flex;
    align-items: center;
    justify-content: center;
}

.part p {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    color: #808080;
}

.part small {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #808080;
    font-size: 18px;
}

.part small a {
    color: #808080;
    text-decoration: none;
}

.grids {
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: 420px 420px;
    grid-template-rows: 240px 240px 240px 240px;
}

.itemsitem1 {
    background-color: #f2f0ec;
    border-radius: 10px;
    height: 200px;
    width: 400px;

}



.itemsitem2 {
    background-color: #f2f0ec;
    border-radius: 10px;
    height: 200px;
    width: 400px;
}


.itemsitem3 {
    background-color: #f2f0ec;

    border-radius: 10px;
    height: 200px;
    width: 400px;
}

.itemsitem4 {
    background-color: #f2f0ec;
    border-radius: 10px;
    height: 200px;
    width: 400px;
}

.itemsitem5 {
    background-color: #f2f0ec;
    border-radius: 10px;
    height: 200px;
    width: 400px;
}

.itemsitem6 {
    background-color: #f2f0ec;
    border-radius: 10px;
    height: 200px;
    width: 400px;
}

.itemsitem7 {
    background-color: #f2f0ec;
    border-radius: 10px;
    height: 200px;
    width: 400px;
}

.itemsitem8 {
    background-color: #f2f0ec;
    border-radius: 10px;
    height: 200px;
    width: 400px;
}
.itemsitem9 {
    background-color: #f2f0ec;
    border-radius: 10px;
    height: 200px;
    width: 400px;
}
.itemsitem10 {
    background-color: #f2f0ec;
    border-radius: 10px;
    height: 200px;
    width: 400px;
}

button {
    background-color: #ffd741;
    border: #ffd741;
    height: 40px;
    width: 200px;
    border-radius: 4px;
    margin-bottom: 15px;
}

snap {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.eng {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 13px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.firstbutton {
    display: flex;
    justify-content: center;

}

.firstbutton button a {
    color: black;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.texte {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: x-small;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;


}

.texts {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: xx-small;
    display: flex;
    justify-content: center;
}

.engb {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 13px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.firstbuttonb {
    display: flex;
    justify-content: center;

}


.firstbuttonb button a {
    color: black;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.texteb {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: x-small;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;


}

.textsb {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: xx-small;
    display: flex;
    justify-content: center;
}

.engc {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 13px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.firstbuttonc {
    display: flex;
    justify-content: center;

}


.firstbuttonc button a {
    color: black;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.textec {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: x-small;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;


}

.textsc {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: xx-small;
    display: flex;
    justify-content: center;
}

.engd {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 13px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.firstbuttond {
    display: flex;
    justify-content: center;

}


.firstbuttond button a {
    color: black;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.texted {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: x-small;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;


}

.textsd {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: xx-small;
    display: flex;
    justify-content: center;
}
.enge {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 13px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.firstbuttone {
    display: flex;
    justify-content: center;

}


.firstbuttone button a {
    color: black;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.textee {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: x-small;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;


}

.textse {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: xx-small;
    display: flex;
    justify-content: center;
}
.engf {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 13px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.firstbuttonf {
    display: flex;
    justify-content: center;

}


.firstbuttonf button a {
    color: black;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.textef {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: x-small;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;


}

.textsf {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: xx-small;
    display: flex;
    justify-content: center;
}
.engg {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 13px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.firstbuttong {
    display: flex;
    justify-content: center;

}


.firstbuttong button a {
    color: black;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.texteg {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: x-small;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;


}

.textsg {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: xx-small;
    display: flex;
    justify-content: center;
}
.engh {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 13px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.firstbuttonh {
    display: flex;
    justify-content: center;

}


.firstbuttonh button a {
    color: black;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.texteh {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: x-small;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;


}

.textsh {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: xx-small;
    display: flex;
    justify-content: center;
}
.engi {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 13px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.firstbuttoni {
    display: flex;
    justify-content: center;

}


.firstbuttoni button a {
    color: black;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.textei {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: x-small;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;


}

.textsi {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: xx-small;
    display: flex;
    justify-content: center;
}
.engj {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 13px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.firstbuttonj {
    display: flex;
    justify-content: center;

}


.firstbuttonj button a {
    color: black;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.textej {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: x-small;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;


}

.textsj {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: xx-small;
    display: flex;
    justify-content: center;
}